.wrapper {
  height: 100vh;

  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 4rem;
  color: white;
  text-shadow: 0 0 5px black;
}

section {
  font-size: 2rem;
  padding: 2rem;
  color: black;
}

.body-text {
  color: #fff;
  font-family: Roboto;
  padding: 20px;
  font-size: 4em;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.cool-text {
  background: url(https://media1.giphy.com/media/xUPGcw99Tl8SCEDGKI/giphy.gif?cid=3640f6095c7449df6342455855917891);
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 0.5em;
}

p {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .cool-text {
    font-size: 1rem;
  }
}
